@page "/About"

    <center>
        <img src="/favicon.ico" height="150" />
        <h1>About iMovies!</h1>


        <p>For Module 03 Course Project - Create Code for Screens 1 and 2</p>
        <ul style="list-style-type:none;">
            <li>About Screen</li>
            <li>Contact Screen</li>
        </ul>
    </center>