@page "/Contact"

    <center>
        <img src="/favicon.ico" height="150" />
        <h1>Contact iMovies!</h1>

        <p>
            iMovies<br />
            c/o Vanessa Chun<br />
            PO Box 25132<br />
            Fayetteville, NC 28314<br />
            <a href="mailto:vanessa.chun@smail.rasmussen.edu">Email Me!</a>
        </p>


        <p>For Module 03 Course Project - Create Code for Screens 1 and 2</p>
        <ul style="list-style-type:none;">
            <li>About Screen</li>
            <li>Contact Screen</li>
        </ul>
    </center>

