@page "/"

    <center>
        <img src="/favicon.ico" height="150" />
        <h1>Welcome to iMovies!</h1>

        <p>For CIS4910C Course Project</p>
        <ul style="list-style-type:none;">
            I created:
            <li>Home Screen</li>
            <li>SQL Database</li>
            <li>About Screen</li>
            <li>Contact Screen</li>
            <li>Register Screen</li>
            <li>Login Screen</li>
            <li>Logout Screen</li>
        </ul>
    </center>