@page "/LogoutPg"

    <center>
        <img src="/favicon.ico" height="150" />
        <h1>Thank you for visiting iMovies!</h1>

        <p>You have successfully logged out of iMovies!</p>
    </center>